body {
    padding-top: 50px;
    background-image: url("../assets/creampaper_@2X.png");
    background-repeat: repeat;
}
.starter-template {
    text-align: center;
}



.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-text {
    text-align: left;
}

.sender {
    color: #563D7C;
}
