html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("../assets/creampaper_@2X.png");
    background-repeat: repeat;
}

.starter-template {
    text-align: center;
}



.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-body {
    padding: 1.5rem 1.25rem .8rem;
}

.card-text {
    text-align: left;
}

.sender {
    color: #563D7C;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*
.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
*/
.container .credit {
    margin: 0 0;
    padding: 8px 0 4px 0;
}


.description {
    white-space: pre;
    white-space: pre-line;
}

.navbar .dropdown-menu {
    background-color: #5e6c77;
}
